@import "bourbon";

$default-font: "RobotoRegular", sans-serif;
$second-font: "RobotoLight", sans-serif;
$roboto-bold: "RobotoBold", sans-serif;
$accent: #f83535;
//$accent: #f8e402;
$white: #fff;
$green: #acc705;
$black: #000;