@import "bourbon";
@import "sass/modules/vars";
@import "sass/modules/mixins";
@import "sass/partials/grid";
@import "sass/partials/normalize";
@import "sass/partials/base";
@import "sass/partials/typography";
@import "sass/partials/buttons";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
}

/*==========================
	Header
============================*/

header {
	position: absolute;
	width: 100%;
	margin: 3.4em 0;
	z-index: 4;
}

.menu__list {
	list-style-type: none;

	@include bp-lg {
		background-color: rgba(0, 0, 0, .1);
		border: 1px solid $green;
		display: none;
	}
}

.menu__mobile {
	@include bp-lg {
		width: 100%;
	}
}

.menu__item {
	display: inline-block;
	padding: 0 .3em;
	@include bp-lg {
		display: block;
		padding: 0;
	}
}

.menu__link {
	font-size: .93em;
	color: $white;
	text-decoration: none;
	font-family: $default-font;

	@include trans(all);

	@include bp-lg {
		display: block;
		padding: 1.2em 0;
		text-align: center;
		background-color: rgba(0, 0, 0, .7);
		border-bottom: 1px solid rgba(0, 0, 0, .7);

		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, .6);
		}
	}

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: $green;
		@include trans(all);

		@include bp-lg {
			display: none;
		}
	}

	&:hover,
	&:focus {
		&:after {
			width: 100%;
		}
	}
}

.menu__icon {
	display: none;
	float: right;
	font-size: 2em;
	color: #fff;
	margin-top: -0.5em;
	cursor: pointer;

	@include bp-lg {
		display: block;
	}
}

.logo {
	outline: none;
}

/*==========================
	welcome-area
============================*/

.welcome-area__bg {
	background-image: url("/img/image1.png");
	width: 100%;
	height: 50em;
	position: absolute;
}

.welcome-area__wrapper {
	z-index: 3;
	position: relative;
	width: 100%;
	padding-top: 15em;
}

.welcome-area__subtitle,
.welcome-area__title {
	color: $white;
	font-size: 3em;
	line-height: 1.2;
	margin: 0;

	@include bp-sm {
		font-size: 2em;
	}
}

.welcome-area__title {
	font-family: $roboto-bold;
	margin: .2em 0 .4em;
}

.welcome-area__title--green {
	color: $green;
}

.welcome-area__description {
	font-size: 1.2em;
	line-height: 1.2;
	color: $white;

	@include bp-sm {
		font-size: .9em;
	}
}

.welcome-area__arrow-link {
	display: table;
	margin-top: 11em;
}