@import "bourbon";
@import "../modules/vars";

/*==========================
	Default styles for 
	placeholder, textarea 
	and input
============================*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

.visuallyhidden {
	display: none;
}

svg {
	display: inline;
}

.font-awesome {
	font-family: FontAwesome;
	font-style: inherit;
}

.text-block {
	display: block;
}

section,
footer {
	position: relative;
	float: left;
	width: 100%;
}

ul {
	@include bp-lg {
		padding-left: 0;
	}
}