@import "bourbon";
@import "../modules/vars";

/*==========================
	Button styles
============================*/

.btn {
	background-color: $accent;
	margin-top: .2em;
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
	border-radius: 4px;
	border-bottom: 4px solid darken($accent, 18%);
	font-size: 1.2em;
	display: inline-block;
	padding: .7em;
	text-align: center;
	line-height: 1em;
	@include trans(all);

	&:hover,
	&:active,
	&:focus {
		background-color: darken($accent, 15%);
		text-decoration: none;
		color: #fff;
		border-bottom-color: darken($accent, 25%);
		outline: 0;
	}
}

.btn--orange {
	background-color: #F39C1A;
	border-bottom: 4px solid #D5840A;

	&:hover,
	&:active,
	&:focus {
		background-color: darken(#F39C1A, 5%);
		text-decoration: none;
		color: #fff;
		border-bottom-color: darken(#D5840A, 5%);
	}
}

.btn--header {
	width: 12em;
	margin-left: auto;
	margin-right: auto;
}

.btn--large {
	font-size: 1.5em;

	@include bp-sm {
		font-size: 1.2em;
	}
}

.btn-area {
	text-align: center;
	margin-top: 2em;
}

.btn-area__phone {
	font-size: 1.7em;
	font-weight: 800;
	margin-top: .6em;
}

.btn-area__phone--inline {
	display: inline-block;
	margin: .6em .8em .3em .8em;
}

/*p*/.btn-area__info {
	margin-top: .2em;
	margin-bottom: 0;
}

.quizHeader-wrapbtn {
	text-align: center;
	padding: 1em 0;
}

.btn--startquiz {
	margin: 1em auto 0;

	@include bp-sm() {
		width: 90% !important;
	}
}

.button {
	@extend .btn;
	max-width: 10em;
	margin: 0 auto;
}

.timer__item--btn {
	width: 100%;
}

.team__item--btn {
	width: 100%;
	font-size: 1em;
	@include bp-sm() {
		display: none;
	}
}