@import "bourbon";
@import "../modules/vars";
@import "../modules/mixins";
@import "../partials/normalize";
@import "../partials/base";
@import "../partials/typography";
@import "../partials/buttons";

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;

	@include bp-lg {
		width: 970px;
	}

	@include bp-md {
		width: 100%;
	}
}

[class*='col-'] {
	float: left;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

.col-1-8 {
	width: 12.5%;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	padding-right: 15px;
	padding-left: 15px;
}

.block-right {
	float: right;
}

.block-left {
	float: left;
}

.pull-right {
	float: right;
}

.md-full {
	@include bp-md {
		width: 100%;
	}
}

.sm-half {
	@include bp-sm {
		width: 50%;
	}
}

.sm-full {
	@include bp-sm {
		width: 100%;
	}
}

.xs-full {
	@media (max-width: 30em) {
		width: 100%;
	}
}

.md-hide {
	@include bp-sm {
		display: none;
	}
}