@import "bourbon";

//Roboto
@include font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold", 700, $file-formats: woff ttf);
@include font-face("RobotoLight", "../fonts/RobotoLight/RobotoLight", 400, $file-formats: woff ttf);
@include font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", 400, $file-formats: woff ttf);

//RobotoSlab
@include font-face("RobotoSlab Bold", "../fonts/RobotoSlab/RobotoSlab-Bold", 700, $file-formats: ttf);
@include font-face("RobotoSlab Regular", "../fonts/RobotoSlab/RobotoSlab-Regular", 400, $file-formats: ttf);