@import "bourbon";
@import "modules/mixins";
@import "modules/vars";
@import "vendor/libs";

/*==========================
  Section: Home
============================*/

.section-home {
	background-image: url("/img/image2.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -4em;
	padding-bottom: 7em;

	@include bp-md {
		z-index: -1;
		padding: 2em 0;
		background-position-y: -1em;
	}
}

.home-info {
	margin-top: 11em;
	position: relative;
	display: table;
	width: 100%;

	@include bp-md {
		margin-top: 13em;
	}

	@include bp-sm {
		margin-top: 17em;
	}
}

.home__title {
	font-size: 1.5em;
	color: #0f0f0f;
	font-family: $roboto-bold;
	margin-bottom: 1.2em;
}

.home__text {
	line-height: 1.7;
	max-width: 20em;

	@include bp-sm {
		max-width: 100%;
	}
}

.home__text--right {
	margin-top: 4.8em;

	@include bp-sm {
		margin-top: 1em;
	}
}

/*==========================
  Section: Photo
============================*/

.section-photo {
	background-color: $green;
	padding-bottom: 8em;

	@include bp-md {
		padding: 3em 0 5em;
	}

	&:before {
		content: '';
		position: absolute;
		top: -8.125em;
		width: 0;
		height: 0;
		border-bottom: 8.125em solid $green;
		border-left: 100vw solid transparent;

		@include bp-md {
			content: initial;
		}
	}
}

.item__link {
	position: relative;
	display: table;
	margin: 0 auto;
	@include trans(all);

	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.item__image {
	width: 100%;
	margin-top: 1.25em;
}

.item__title {
	position: absolute;
	bottom: 2em;
	text-align: center;
	display: table;
	width: 100%;
	color: $white;
	font-family: $roboto-bold;
	font-size: 1.2em;
	margin: 0;
}

/*==========================
  Footer
============================*/

footer {
	background-color: #0f0f0f;
	padding: 2em 0 1em;
}

.logo-footer {
	display: table;
}

.contact__label {
	color: #505050;
	font-size: .75em;
	text-align: right;
	width: 20%;
	display: inline-block;
	margin-bottom: .6em;

	@include bp-lg {
		width: 100%;
		text-align: left;
		margin: 0;
	}
}

.contact__info {
	float: right;
	color: #a5a5a5;
	line-height: 1.8;
	margin-right: 3em;

	@include bp-lg {
		margin: 0;
		float: none;
	}

	@include bp-sm {
		font-size: .9em;
	}
}

.contact__phone {
	color: $white;
	margin-left: 1em;
	text-decoration: none;
	text-align: left;
	width: 70%;

	@include bp-lg {
		width: 100%;
		margin-left: 0;
	}

	@include bp-sm {
		font-size: .9em;
	}
}

.contact__email {
	color: $green;
	margin-left: 1em;
	text-decoration: none;
	text-align: left;
	width: 70%;
	display: inline-block;

	@include bp-lg {
		width: 100%;
		margin-left: 0;
	}

	@include bp-sm {
		font-size: .9em;
	}
}

.social__link {
	float: right;
	margin-top: 1em;
}

.social__icon {
	color: $green;
}

.social__label {
	color: #505050;
	font-size: .75em;
	text-align: right;
	margin-top: 2.5em;
}